{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
        Connectly
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}"
    >
</head>

<body>

<div class="app-layout">

    {% if user.is_authenticated %}

    <aside class="sidebar">

        <div>

            <a
                href="{% url 'feed' %}"
                class="logo"
            >
                C
                <span>Connectly</span>
            </a>

            <nav class="sidebar-nav">

                <a href="{% url 'feed' %}">
                    <span class="nav-icon">⌂</span>
                    Feed
                </a>

                <a href="{% url 'create_post' %}">
                    <span class="nav-icon">＋</span>
                    Create Post
                </a>

                <a href="{% url 'profile' %}">
                    <span class="nav-icon">○</span>
                    My Profile
                </a>

            </nav>

        </div>


        <div class="sidebar-user">

            <div class="mini-avatar">
                {{ user.username|first|upper }}
            </div>

            <div class="sidebar-user-info">

                <strong>
                    {{ user.username }}
                </strong>

                <span>
                    @{{ user.username }}
                </span>

            </div>

            <form
                method="POST"
                action="{% url 'logout' %}"
            >
                {% csrf_token %}

                <button
                    type="submit"
                    class="logout-icon"
                    title="Logout"
                >
                    ↗
                </button>

            </form>

        </div>

    </aside>

    {% endif %}


    <div class="main-area">

        {% if user.is_authenticated %}

        <header class="topbar">

            <h2>
                {% block page_heading %}
                Connectly
                {% endblock %}
            </h2>

            <div class="topbar-profile">

                <span>
                    {{ user.username }}
                </span>

                <a
                    href="{% url 'profile' %}"
                    class="top-avatar"
                >
                    {{ user.username|first|upper }}
                </a>

            </div>

        </header>

        {% endif %}


        <main class="page-content">

            {% block content %}
            {% endblock %}

        </main>

    </div>

</div>

</body>

</html>